.products__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: $PrimaryHeadingColor;
}

.products__list {
  display: flex;
}

.products__item {
  flex-basis: calc((100% - 60px) / 3);
}

.products__wrap {
  position: relative;
}

.products__name {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: $SecondaryHeadingColor;
  background-color: rgba(47, 48, 58, 0.8);
}

.products__list .products__item + .products__item {
  margin-left: 30px;
}
